<!--
 * @Description: 
 * @Author: wangbo
 * @Date: 2020-04-08 18:50:00
 * @LastEditors: wangbo
 * @LastEditTime: 2020-04-09 14:08:45
 -->
 <!DOCTYPE html>
 <html>
 <head>
   <!-- 注入title -->
  <title><%= context.title %></title>
   <!-- set `maximum-scale` for some compatibility issues -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
   <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
   <script>
     if ('addEventListener' in document) {
       document.addEventListener('DOMContentLoaded', function() {
         FastClick.attach(document.body);
       }, false);
     }
     if(!window.Promise) {
       document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"'+'>'+'<'+'/'+'script>');
     }
   </script>
 </head>
 <body>
   <div id="root"></div>
 </body>
 </html>